body { 
    font-size: 18px; 
    font-family: Helvetica; 
    background-color: mediumaquamarine;
}

h1 { 
    font-size: 75px;
    color: cornflowerblue; 
    font-style: normal; 
    text-align: center; 
    margin-right: 50px;
}

h2 { 
    font-size: 30px; 
    color: darkorange; 
    font-style: italic; 
    text-align: left; 
    margin-right: 100px;
}

h3 { 
    font-size: 60px; 
    color: rgb(255, 0, 187); 
    font-style: italic; 
    text-align: left; 
    margin-right: 100px;
}

p { 
    font-size: 20px; 
    color: blue;
    font-style: normal;  
    font-family: Arial, Helvetica, sans-serif; 
    border-color: red; 
}

ul { 
    font-size: 20px; 
    color: green; 
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif; 
}

/* WRAPPER BOX */
.wrap {
    background: coral;
    border: dashed;
}

/* NAVIGATION BAR */
.navbar {
    background-color: #0a626b;
    padding: 10px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(313, 59%, 69%);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(300, 81%, 21%);
}

.navbar li {
    float: left;
}
